<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
$(document).ready(function() {
  console.log("Ready to go!");
  
  // Reverse string
  $("input[name='stars']").click(function(event) {
    $("#starVal")[0].innerHTML = event.target.value;
  });
  // Star Rating Options
  
});
</script>
<link rel='stylesheet' href='/main.css' />
<article class="challenges">
  <h1>Interview Challenges</h1>
  
    <h2>Challenge 0: <small>Reverse string: "hello"</small></h2>
  <div class="cnccAnswer"></div>
  
  <h2>Challenge 1: <small>Rating Stars</small></h2>
  <p>For this challenge, imagine we are creating a rating system. We don't want to leave the page but we need to save the rating dynamically. All stars need to display.</p>
  <div class="container stars_wrapper">
    <p id="stars">Star Rating: <span id="starVal">{stars}</span> Stars</p>
    <div class="star-rating">
      <input type="radio" id="star-1" name="stars" value="1" />
      <label for="star-1"></label>
      <input type="radio" id="star-2" name="stars" value="2" />
      <label for="star-2"></label>
      <input type="radio" id="star-3" name="stars" value="3" />
      <label for="star-3"></label>
      <input type="radio" id="star-4" name="stars" value="4" />
      <label for="star-4"></label>
      <input type="radio" id="star-5" name="stars" value="5" />
      <label for="star-5"></label>
    </div><!-- /.star-rating -->
    
  </div><!--  /.container -->
  
  <h2>Challenge 2: <small>Recent Tweets</small></h2>
  <p>NYCC is coming! Let's display all #nycc2016 and #newyorkcomiccon posts and update regularly.</p>
  <form action="/" method="post">
	Search Twitter: <input type="text" name="word"  /><br>
	<input type="submit" value="Search" /><br>
  </form>
  <ul>
  <% tags.forEach(function(tag){ %>
  	<li><%= tag %></li>
  <% }) %>
  </ul>

  <h2>Challenge 3: <small>Auto-Suggest</small></h2>
  <p>A set of 5 to 8 specific commands exist. When you type a command into a text box, I would like you to suggest one or more of the similar commands.</p>
  <h2>Challenge 4: <small>Check for Verification</small></h2>
  <p>Credit card fees are a pain for both us and the customer. We can check the number of the credit card to be sure it is valid. In this scenario, the sum of every even index number equals the sum of every odd index number. Make sure the credit card is valid before submitting it.</p>
  <h2>Challenge 5: <small>Infinite Scroll</small></h2>
  <p>We have a LOT of content. I don't want to put it all on the page initially because that would take too long. Instead we would like the content to appear on the page as we reach the bottom of the viewport.</p>
</article>